.shikiContainer {
  position: relative;
}

.shikiContainer pre {
  overflow: auto;
  border-radius: 1rem;
  padding-inline: 0.875rem;
  padding-block: 0.875rem;
  padding-top: 1.8rem;
  font-size: 0.875rem;

  border: 1px solid var(--border);

  /* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/corner-shape */
  /* biome-ignore lint/correctness/noUnknownProperty: new property */
  corner-shape: squircle;

  background-color: var(--shiki-background) !important;
}

.languageLabel {
  position: absolute;
  left: 0.6rem;
  top: 0.3rem;
  font-family: monospace;
  font-size: 0.7rem;
  letter-spacing: -0.05em;
  color: oklab(0.6 0 0);

  user-select: none;
  pointer-events: none;
}

.copyButton {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0.5rem;
  right: 0.5rem;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  background-color: oklch(0 0 0 / 0);
  border: 1px solid var(--border);

  transition:
    scale 0.1s ease-in-out,
    background-color 0.1s ease-in-out;
  &:hover {
    background-color: oklch(0 0 0 / 0.05);
  }

  &:active {
    scale: 0.95;
    background-color: oklch(0 0 0 / 0.1);
  }

  /* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/corner-shape */
  /* biome-ignore lint/correctness/noUnknownProperty: new property */
  corner-shape: squircle;

  &[data-copied="true"] {
    border-color: forestgreen;
  }
}
