@layer utilities {
  @keyframes radar-rotate {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes radar-point {
    0%,
    12.5% {
      opacity: 0.3;
    }

    25%,
    82.5% {
      opacity: 0;
    }
  }

  .radar-rotate {
    animation: radar-rotate 4s linear infinite;
  }

  .radar-sweep {
    animation: radar-rotate 4s linear infinite;
  }

  .radar-point {
    filter: drop-shadow(0 0 0.25em hsl(0 0% 90%));
    animation: radar-point 4s linear infinite;
    animation-delay: var(--radar-delay);
    opacity: 0;
  }
}
